/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@font-face {
    font-family: "Summer";
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/Summer%20Font%20Regular.woff);
}

@font-face {
    font-family: "Summer Bold";
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/Summer%20Font%20Bold.woff);
}

:root {
    --white: #fff;
    --red: #e31b23;
}

* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

input,
button {
    font-family: inherit;
    font-size: 100%;
    background: none;
}

[type="checkbox"] {
    position: absolute;
    left: -9999px;
}

button,
label {
    cursor: pointer;
}

ol {
    list-style: none;
}

body {
    font: 28px/1.2 "Summer Bold";
    margin: 1.5rem 0;
}

.container {
    max-width: 700px;
    padding: 0 10px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

/* MAIN RULES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.todo-form .form-wrapper,
.todo-form input,
.todo-form button,
.todo-stats,
.todo-stats>div {
    position: relative;
}

.todo-form input,
.todo-form button,
.todo-stats>div {
    z-index: 1;
}

.todo-form input,
.todo-form button {
    width: 100%;
    padding: 15px;
}

.todo-form svg,
.todo-stats svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.todo-form button {
    color: var(--white);
    text-transform: uppercase;
}

.todo-stats {
    text-align: center;
    padding: 5px 10px;
    margin: 10px 0;
    color: var(--white);
}

.todo-list li {
    display: grid;
    align-items: baseline;
    grid-template-columns: auto 20px;
    grid-column-gap: 10px;
    padding: 0 10px;
}

.todo-list li+li {
    margin-top: 10px;
}

.todo-list .checkbox-wrapper {
    display: flex;
    align-items: baseline;
}

.todo-list .checkbox-wrapper label {
    display: grid;
    margin-right: 10px;
}

.todo-list .checkbox-wrapper svg {
    grid-column: 1;
    grid-row: 1;
    width: 20px;
    height: 20px;
}

.todo-list .checkbox-wrapper .checkmark {
    display: none;
}

.todo-list [type="checkbox"]:checked+label .checkmark {
    display: block;
}

.todo-list [type="checkbox"]:checked~span {
    text-decoration: line-through;
    opacity: 0.5;
}

.todo-list .remove-task {
    display: flex;
    padding: 2px;
}

.todo-list .remove-task svg {
    width: 16px;
    height: 16px;
}

/* MQ STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 600px) {
    .todo-form {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-column-gap: 5px;
    }

    .todo-stats {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

/* FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
    font-size: 1.2rem;
    text-align: right;
    padding-right: 20px;
    margin-top: 20px;
}

.page-footer span {
    color: var(--red);
}